<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    h1, h3, form {
        text-align: center;

    }
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>
    <div class="row">
        <div class="column">
            <h3>Received messages</h3>
            <p>No messages. Implement me (next project)!</p>
        </div>

        <div class="col">
            <h3>Send Message</h3>
            <form name="new_message" action="{% url 'webtext:new_message' user.id %}" method="post">
                {% csrf_token %}
                To (username): <input type="text" name="receiver"><br/><br/>
                <br/><textarea name="message" rows="20" cols="40"></textarea><br/>
                <input type="submit" value="send new message">
            </form>
        </div>
    </div>
</body>
</html>